<!-- ###### start footer ##########-->
<footer class="footer" id="footer">
    <p>All Right Recerved 2022 &copy;</p>
</footer>
<!-- ###### end footer##########-->
<script src="/js/script.js">
</script>
</body>

</html>