<header class="header header-with-scrol">
      
    <div class="logo">
        <a>Sofan<span class="tech">Tec</span></a>
    </div>
    <nav class="navBar">
        <ul>
            <li data-hr="#home" class="active"><a href="#home">Home <span></span></a></li>
            <li data-hr="#about"><a href="#about">About <span></span></a></li>
            <li data-hr="#services"><a href="#services">Services <span></span></a></li>
            <li data-hr="#ourWorks"><a href="#ourWorks">our works <span></span></a></li>
            <li data-hr="#contact"><a href="#contact">Contact Me <span></span></a></li>
        </ul>
    </nav>
    <div class="menu-btn">
        <i class="ri-menu-line"></i>
    </div>
    <div class="phoneNumber">
        <a href="/users/login">login</a>
        <span class="seprator">|</span>
        <i class="ri-phone-fill"></i>
        <a class="">+967 777 607 485</a>
    </div>
    
</header>